<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../css/common/font_92a0e396.css" type="text/css">
    <link rel="stylesheet" href="../../../css/common/style_7b99efd2.css" media="screen" type="text/css">
    <link rel="stylesheet" href="../../../css/common/print_9fc78c3d.css" media="print" type="text/css">
    
<style media="screen">
  div{
    position: relative;
    margin-bottom: 20px;
  }
  pre{
    margin: 0;
    padding: 0;
  }
  p{
    position: absolute;
    white-space: nowrap;
    bottom: 5px;
    right: 5px;
    margin: 0;
  }
  pre code{
    margin-bottom: 0;
  }
</style>

    <title>ShellHong's Blog</title>
  </head>
  <body>
    <header>
      <div class="inner">
        <a href="https://blog.shellhong.com">
          <h1>ShellHong Blog</h1>
        </a>
        <a href="mailto:shellhong6@gmail.com" class="button">Send email to me</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">

        <section id="main-content"><!--内容主体-->
          
<div>
  <pre>
    <code>
      RoseOnly、DarryRing...
    </code>
  </pre>
  <p>
    2017-9-23
  </p>
</div>
<div>
  <pre>
    <code>
      又是一个失眠的早晨，胡思乱想之下，总结了一下自己的管理理念。

      于项目与业务而言，推崇高度的个人敏捷；
      于架构而言，推崇关键模块、组件、技术方案、标准等大方向的把控；
      于组织而言，推崇互帮互助与氛围建设；
      于个人而言，自研与学习，然后反辅团队；
    </code>
  </pre>
  <p>
    2017-10-2
  </p>
</div>


        </section>

        <!-- <aside id="sidebar">
          <p><a href="http://blog.shellhong.com/export/views/work_nav.html">工作</a></p>
          <p><a href="http://blog.shellhong.com/export/views/life_nav.html">生活</a></p>
        </aside> -->

      </div>
    </div>
    

  </body>
</html>
