{% extends "_layout.html" %}

{% block head_extend %}
	<style media="screen">
		.item_title{
			font-size: 18px;
		}
	</style>
{% endblock %}

{% block content %}
		<a class='item_title' href="/wiki/#!h5/index.md">网页读书项目技术实现</a>
		<p>
			介绍一些基本的技术实现和难点
			<span class='nav_time'>2018-11-20</span>
		</p>
		<a class='item_title' href="/wiki/#!bm/introduce.md">BM平台简介</a>
		<p>
			一秒输出一个页面不是梦想
			<span class='nav_time'>2018-10-26</span>
		</p>
		<a class='item_title' href="../export/views/work/promise/index.html">Promise原理浅析</a>
		<p>
			Promise原理浅析
			<span class='nav_time'>2018-6-20</span>
		</p>
		<a class='item_title' href="../export/r/async/index.html">异步演进</a>
		<p>
			iterable -> Generator -> async await
			<span class='nav_time'>2018-6-15</span>
		</p>
		<a class='item_title' href="../export/views/work/hierarchy/index.html">活动可配置化实现</a>
		<p>
			繁杂的需求如何提炼、架构并高效完成
			<span class='nav_time'>2018-5-19</span>
		</p>
		<a class='item_title' href="../export/r/element-ui/index.html">element-ui简单讲解</a>
		<p>
			element-ui大体框架、本地部署、调试简单讲解
			<span class='nav_time'>2018-5-16</span>
		</p>
	  <a class='item_title' href="../export/r/rate-unit/index.html">百分比单位</a>
		<p>
			css中不同属性百分比单位的计算方式介绍
			<span class='nav_time'>2018-4-19</span>
		</p>
	  <a class='item_title' href="../export/views/work/firstpaint/index.html">首屏测速</a>
		<p>
			介绍几种用于测试首屏加载速度的方法
			<span class='nav_time'>2018-4-13</span>
		</p>
	  <a class='item_title' href="../export/views/work/irregularity/index.html">关于不规则形状事件响应实现</a>
		<p>
			多种方式实现不规则形状事件响应
			<span class='nav_time'>2018-3-29</span>
		</p>
	  <a class='item_title' href="../export/views/work/dependencies/index.html">关于package.json中的包配置</a>
		<p>
			简单讲解package.json中dependencies、devDependencies、peerDependencies
			<span class='nav_time'>2018-3-15</span>
		</p>
	  <a class='item_title' href="../export/views/work/viewport/index.html">viewport与单位</a>
		<p>
			viewport概念、像素概念与各种单位简要说明
			<span class='nav_time'>2018-3-13</span>
		</p>
	  <a class='item_title' href="../export/views/work/monitor/index.html">前端监控平台分享</a>
		<p>
			关于前端监控平台的搭建、架构、使用等
			<span class='nav_time'>2018-3-12</span>
		</p>
		<!-- <a class='item_title' href="https://docs.google.com/presentation/d/1jww846M3lZoPTb5OOOINMcMEv6UZfPWkNvBLye5bS8g/edit#slide=id.g2398ef0b51_0_0">前端监控平台分享</a>
		<p>
			关于前端监控平台的搭建、架构、使用等的ppt
			<span class='nav_time'>2017-8-10</span>
		</p> -->
		<a class='item_title' href="../export/views/work/summary/index.html">2017年终总结</a>
		<p>
			<ul>
			  <li>时光荏苒，一年飞逝</li>
			  <li>值此之际，好坏自知，一切如字</li>
			</ul>
			<span class='nav_time'>2017-12-23</span>
		</p>
		<a class='item_title' href="../export/views/work/re-activity/index.html">联合活动重构</a>
		<p>
			<ul>
				<li>协同与解耦</li>
				<li>规范与统一</li>
				<li>门槛与效率</li>
			</ul>
			<span class='nav_time'>2017-11-24</span>
		</p>
		<a class='item_title' href="https://github.com/shellhong6/vue-tabs">一个基于vue2.x的移动端tabs切换组件</a>
		<p>
			网上找不到合适的，自撸一个！
			<span class='nav_time'>2017-10-27</span>
		</p>
		<a class='item_title' href="../export/views/work/carousel/index.html">移动端图片轮播组件实现</a>
		<p>
			网上找不到合适的，自撸一个！
			<span class='nav_time'>2017-10-20</span>
		</p>
		<a class='item_title' href="../export/views/work/activity/index.html">活动架构</a>
		<p>
			开发的担当：通过优秀的架构，提高各方工作效能！
			<ul>
			  <li>如何最小化接入代价</li>
			  <li>如何最大化开发效能</li>
			  <li>如何统一化公共流程</li>
			</ul>
			<span class='nav_time'>2017-9-21</span>
		</p>
		<a class='item_title' href="../export/r/stacking-context/index.html">css层叠规则</a>
		<p>
			讲述css层叠上下文和层叠顺序的相关规律（含实例）
			<span class='nav_time'>2017-9-13</span>
		</p>
		<a class='item_title' href="../export/views/work/cache/index.html">关于缓存</a>
		<p>
			讲述现阶段常用的几个缓存方案以及一些技术要点
			<span class='nav_time'>2017-9-6</span>
		</p>
		<a class='item_title' href="../export/r/hybrid-app/index.html">Hybrid app开发历程分享</a>
		<p>
			早期，Hybrid app类型项目的一些开发历程分享
			<span class='nav_time'>2015-11-24</span>
		</p>
{% endblock %}

{% block footer_extend %}
{% endblock %}
