<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../css/common/font_92a0e396.css" type="text/css">
    <link rel="stylesheet" href="../../../css/common/style_1f6aed7d.css" media="screen" type="text/css">
    <link rel="stylesheet" href="../../../css/common/print_9fc78c3d.css" media="print" type="text/css">
    
<style media="screen">
  pre{
    margin: 0;
    padding: 0;
  }
  pre code{
    margin-bottom: 0;
  }
  .time{
    color: #ddd;
  }
</style>

    <title>ShellHong's Blog</title>
  </head>
  <body>
    <header>
      <div class="inner">
        <a href="https://blog.shellhong.com">
          <h1>ShellHong Blog</h1>
        </a>
        <a href="mailto:shellhong6@gmail.com" class="button">Send email to me</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">

        <section id="main-content"><!--内容主体-->
          
    <pre>
      <code>
  最近，大家普遍来的晚，回得又比较早，
  当然，晚一些，早一些，这不是我要讲的重点，
  我要讲的是状态，

  人生的压力，我觉得就像正态分布的曲线，
  先从小到大，然后慢慢的变老了，不得不放下了，又从大变小了，
  而就我们现在这个年龄来说，肯定是处于压力上升期，

  所以可以放松一下，但是不要放纵自己，
  时间在流失，生活的压力在加大，
  而你自身，是否也在跟着前进，超前了，落后了，还是迷失了，
  你的状态，是否和自己的期许匹配，

  日复一日，
  今年的你，是重复去年，还是突破自己，

  对我们来说，职业素养、技术水平和业务能力的提升，是我们最重要的前进途径之一，
  无论忙，还是闲，
  都希望大家在这几个方面有所进步，
  趁自己还年轻，

  但愿迷茫的尽快找到方向，找到方向的，奋力前行，
  高效工作，愉快生活！</code>
    </pre>
    <p class='time'>2018-3-15</p>
    <pre>
      <code>
  关于内部仓库包依赖链处理规范:

  规则：
  1.内部仓库，所有的包，如无特殊情况，均采用rollup进行构建
  2.内部仓库，所有的包package.json中的main字段均指向源码文件
  3.内部仓库，不同的包之间的依赖引入，都应该通过import，引入对方的源码
  4.dependencies/peerDependencies中包的版本号用'^'开头
  5.内部包改动时，兼容性改动升级小版本，破坏性改动升级大版本（例如：B的此次改动，导致依赖它的A需要升级，那么B的版本号应该由1.x.x升级为2.x.x）
  目的：
  1.减少重复依赖导致最终构建代码冗余
  2.减少升级依赖（避免：B做了兼容性改动后，所有依赖于它的内部仓库公共包都需要做相应升级，而是把这一步移至业务级项目）
  实例：
  假设内部仓库有两个包，A依赖B，然后业务项目C依赖于A和B
  一、webpack构建方式引入
  1.内部包A、B的main都应该指向自己的源码文件（src中的）
  2.项目C直接通过import引入A和B（import @flyme/A;import @flyme/B;）
  二、libary(script标签引入或内联)
  直接复制A包构建后的代码（build中的）到C项目中使用
      </code>
    </pre>
    <p class='time'>2018-3-21</p>
    <pre>
      <code>
  活动2018年方向：
  在保持业务稳定的情况下，做两点突破
  1.游戏模块解耦 -> 游戏项目接入与搭建便捷化 -> 实现游戏平台搭建
  2.新的相关技术（svg动画、3D等）预研，推动游戏模式更新
      </code>
    </pre>
    <p class='time'>2018-3-26</p>

        </section>

        <!-- <aside id="sidebar">
          <p><a href="http://blog.shellhong.com/export/views/work_nav.html">工作</a></p>
          <p><a href="http://blog.shellhong.com/export/views/life_nav.html">生活</a></p>
        </aside> -->

      </div>
    </div>
    

  </body>
</html>
