body, html {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: -webkit-linear-gradient(top, #fff5f5, #ffecf0);
  background: -o-linear-gradient(top, #fff5f5, #ffecf0);
  background: -moz-linear-gradient(top, #fff5f5, #ffecf0);
  background: linear-gradient(to top, #fff5f5, #ffecf0)
}

body * {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent
}

svg {
  user-select: none;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-family: helvetica, sans-serif
}

line, path {
  stroke: #777
}

.svgField {
  height: 100%
}

.evn {
  position: absolute;
  z-index: 2;
}

.appearHeartPath {
  stroke-dasharray: 190;
  stroke-dashoffset: 190;
  animation: dash 3s linear;
  -webkit-animation: dash 3s linear;
  animation-fill-mode: forwards;
  cursor: pointer
}

.disappearHeartPath {
  stroke-dasharray: 190;
  stroke-dashoffset: 0;
  animation: disappearHeartAni 3s linear;
  -webkit-animation: disappearHeartAni 3s linear;
  animation-fill-mode: forwards
}

@keyframes disappearHeartAni {
  to {
    stroke-dasharray: 190;
    stroke-dashoffset: 190
  }
}

.people {
  width: 640px;
  /* height: 480px; */
  position: absolute;
  /* bottom: -410px; */
  bottom: 11px;
  z-index: 1;
  height: 61px;
}

.groundPath {
  /* stroke-dasharray: 1440;
  stroke-dashoffset: 1440; */
  animation: dash 5s linear;
  -webkit-animation: dash 5s linear;
  animation-fill-mode: forwards
}
.groundFill{
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -1px;
  display: none;
  left: 0px;
  background-color: #d4d4d4;
}

.peoplePath {
  stroke-dasharray: 550;
  stroke-dashoffset: 550;
  animation: dash 5s linear;
  -webkit-animation: dash 5s linear;
  animation-fill-mode: forwards;
  z-index: 1
}

.chairPath {
  stroke-dasharray: 226;
  stroke-dashoffset: 226;
  animation: dash 3s linear;
  -webkit-animation: dash 3s linear;
  animation-fill-mode: forwards;
  z-index: 2
}

@keyframes dash {
  to {
    stroke-dashoffset: 0
  }
}
