{% extends "../_layout.html" %}

{% block head_extend %}
{% endblock %}

{% block content %}
<h1>2017年终总结</h1>

<blockquote>
  <div>时光荏苒，一年飞逝</div>
  <div>值此之际，好坏自知，一切如字</div>
</blockquote>

<h2>个人</h2>

<h3>对技术负责</h3>

<p>单纯从技术层面来讲，精力的分配大致是</p>

<ul>
<li>20%的业务实现</li>
<li>30%的组件输出</li>
<li>20%的架构与方案输出</li>
<li>30%的各种问题处理</li>
</ul>

<p>这一年的时间里，其实于我个人而言，努力的方向主要是以下两点</p>

<ul>
<li>业务抽离
<div>不再花费大量的精力投入具体的业务实现，而是</div>

<ul><li>推动业务负责人的落地和备份</li>
<li>关注重要和高频业务</li>
<li>适时地在项目间游走与参与，提高项目架构与封装，补充紧急项目人力空缺，了解必要的业务逻辑</li></ul></li>
<li>技术加强

<ul><li>加强组件封装与流程封装
  <div>
<div>推动内部仓库使用，增加重要、高频功能与流程的封装，增加组件代码review，减少业务代码review。</div>
<p>业务代码质量通过3各方面来保障，业务负责人review、测试环节检测、skynet平台监控。当然，组件和封装的加强，本身也是业务实现的重要保障和提升。</p>
</div>
</li>
<li>提高效能
  <p>
对高频的业务，采用自动化与可配置化方式落地，抽离开发与测试环节。提供丰富的工具与文档配套，辅助运营、测试和第三方cp完成整个流程，减少沟通成本。
</p>
</li>
<li>关注质量
  <div>
<div>项目质量全流程、整闭环跟进，不只是到测试环节，不只是解决redmine bug，线上的异常同样囊括在内。</div>
增加线上监控，增加线上项目性能与异常日报邮件，并限期定位与解决，增加前端或与前端相关（客户的或后台）的线上埋点异常、功能异常等的定位渠道。
</div></li></ul></li>
</ul>

<h3>对团队负责</h3>

<ul>
<li>分享
<ul><li>参与新员工培训，获优秀讲师</li>
<li>参与多次部门分享 </li>
<li>组织和推动组内多次分享和文档输出</li></ul></li>
<li>知心
<ul><li>定期组员沟通，了解想法，解决困难</li>
<li>重要事项辅助与建议（评级建议、职业规划、提升的方向等）</li></ul></li>
<li>协作
<ul><li>项目排期与任务划分</li>
<li>人力协调与安排</li>
<li>跨部门协作难题沟通与解决</li>
<li>组员沟通与协作机制促进</li></ul></li>
<li>结果达成
<ul><li>风险预估与难题解决</li>
<li>需求评审、建议、拆解</li>
<li>线上指标监控</li></ul></li>
</ul>

<h3>对公司负责</h3>

<ul>
<li>评级
<ul><li>努力保障和争取自己和组员评级的合理性</li>
<li>积极参与标准制定和评委工作</li></ul></li>
<li>技术支撑
<ul><li>校招笔试题输出</li>
<li>跨部门方案输出</li>
<li>跨部门技术问题解决支撑</li>
<li>跨部门招聘支撑</li>
<li>跨部门项目开发支撑</li></ul></li>
</ul>

<h3>对自己负责</h3>

<ul>
<li>
  <div>阅读</div>
生命不止，阅读不息。今年下来，还是读了挺多书的。有技术博客、css揭秘、影响力、罗马人的故事、人工智能类的、团队带领类的、设计类的，杂七杂八，和往年比起来，算是一个进步点。</li>
<li>
  <div>众师</div>
不得不说，和有意思的人一起，是可以学习到东西的。只要肯学习，身边的人还是会有或多或少一些值得学习的地方。很幸运能时不时看透这一点，也很希望能找到更多有意思的人，学习和接触更多有意思的事。</li>
<li><div>博客</div>
29岁生日前后，除了感慨：我X，又老了一岁！同时也决定做一些有意思的事情，于是有了自己的博客，并到目前为止，零零散散持续的更新着。</li>
</ul>

<h2>团队</h2>

<h3>做好前端本分</h3>

<ul>
<li>一如既往支撑部门前端项目</li>
<li>一如既往优先定位问题所在</li>
<li>一往无前引进优先技术落地</li>
<li>一往无前解决新类型项目需求（联合活动的小游戏需求）</li>
</ul>

<h3>列举典型</h3>

<ul>
<h3>
  deeplink活动</h3>

<div>
  <div>一系列高频、简单、规律性强的活动页面。</div>
<div>不能由cp实现（虽然，他们老是提各种定制化需求），毕竟甲方是上帝，而且沟通成本很高，联调和技术支撑成本也不低，还需要暴露内部接口。这些都不是一个有追求的人所能接受的，虽然偶尔还是会有这样的诉求。
</div>也不能每次都为cp开发一套页面，然后发布上线，虽然工作量不多，虽然cp是上帝，毕竟三天两头的就来个页面（现在连公司内部一些其它部门也有这种诉求），频繁得很。</div>

<div>so...</div>

<ul><li>给出一套标准</li>
<li>给出一个架构</li>
<li>提供一套可配置化生态（界面生成平台+代码生成工具+简单文档）</li>
<li>提供一套自动化辅助工具（流程测试等工具+简单文档）</li></ul>

<div>有些时候，牛逼的idea，会由于一句简单的话：没时间，而不了了之。那么实现这么一套框架，我们哪来的时间和人力！</div>

<div>淡定...</div>

<div>首先，对于界面生成平台，我们奉行拿来主义，找到内部一个类似的第三方平台，然后好言相劝，让其为我们加了一个代码注入的入口。
</div><div>其次，整个架构体系，都是可拆分的，可以一小步一小步完成，无彼此间的特效依赖关系。这样，就可以逐步上线，逐步生效，不阻塞需求。
</div><div>最后，整个架构，我们采用一些方式，避过了第三方开发（后台之类的），无需联调，全场可控。</div>

<div>所以...</div>

<p>现在已经可以无需开发和测试参与，定制化上线一个deeplink类型的活动了！<a href="http://blog.shellhong.com/export/views/work/activity/index.html">点击了解更多</a></p>
<h3>联合活动</h3>
<p>和前面的deeplink活动对比，联合活动，算是比较复杂的，而且定制化层度更高，今天玩打飞机，明天是切水果，后天接蘑菇。只有你做不到的，没有运营想不到的(泪奔)...</p>

<div>这类项目，没办法配置化生成，但是，我们还是摸索出了一些套路的：</div>

<ul><li>由一开始的功能和方法封装，演化为现在的流程封装，尽量把一部分固化的流程抽取出来</li>
<li>流程架构封装，以状态机的方式，固化主体框架，定制化的部分作为状态控制进行填充</li>
<li>尝试封装自己的简化版游戏引擎（出于加载性能考量，之前还上线了PWA的service worker，但是由于公司webview漏洞，不得不撤回）</li></ul>
<h3>数据平台</h3>
  <div>有没有一种感觉，有一部分的后台管理系统，看起来好像都差不多，功能无非查询、增删改查、看报表。</div>
<div>所以，以前是找一套公共的模版，往里面套逻辑，改代码。</div>
但是，这一次，在数据平台项目上，我们基于第三方Element UI组件库，开发出了后台管理系统配置平台。
当然，不是拖拽操作的，因为总是会有定制化的需求，拦都拦不住。但是，也不复杂，通过点击和参数配置操作，便可生成。
<div>还有一点，也不是象deeplink活动一样可拆分，所以当然也不是在接到数据平台需求的时候，才开始准备的和想到的。还是未雨绸缪了好久的。</div>
<p><h3>监控平台</h3>
skynet监控平台的开发和上线，让我们有渠道去更加关注线上（定位线上问题、查看线上性能和异常、每日邮件汇总前端项目相关数据等）。</p>

<ul><li>埋点异常定位
<div>当运营看了数据，急匆匆找过来说，昨天常规活动的push点击量60万，为什么页面曝光和点击量不到20万。</div>
<div>但是这个活动已经上线一百年了，近期没改过，之前一直好好的，然后你懵逼了。</div>
<div>这种情况你还不能找客户端，虽然push是客户端范围的，但是页面曝光和下载是前端的，客户端很难定位出来，你还是一脸懵逼。</div>
<div>然后，去测试环境，又发现不可重现。</div>
<div>这种情况，要是在以前，简直就是无解了。</div>
<div>现在，到skynet监控平台上一查，这个活动由于客户端某新模版改动导致了报错达十几万个，好，赶紧做兼容发布，并知会客户端同学。问题完美解决。</div></li>
<li>复杂的线上，复杂的问题
<ul><li>没有监控，你不会想象得到，你一直信赖的代码在线上会不断报错，而且在测试环境，同一固件、同一app下，就是不可重现</li>
<li>没有监控，你不会想象得到，你所信赖的大数据js加载失败次数那么高</li>
<li>没有监控，你不会想象得到，你所信赖的客户端，各个接口会时不时报一下错</li>
<li>没有skynet，当后台找过来说，你的接口调用有问题，你都无力反驳，无从下手</li></ul></li></ul>

<p>所以，利用skynet平台，2017年，我们主要做了</p>

<ul><li>解决每日性能和异常邮件中，数量级达到100个以上的异常（该解决的解决，该反馈的反馈）</li>
<li>定位测试环境中不可重现的问题，并做处理</li>
<li>定位埋点数据异常，并反馈</li>
<li>发现性能不佳的项目，并优化</li>
<li>作为工作质量数据的体现之一</li></ul>
</ul>

<h2>不足与目标</h2>

<ul>
<li>繁杂的业务中，保持技术新鲜感与激情</li>
<li>保持团队稳定的同时，保持团队的活力与进取心</li>
<li>为每个人制定合适的职业规划与目标</li>
<li>高级人才缺失，没招到牛逼的，也没培养出牛逼的</li>
<li>2017年有一些好的改变，但是还没走完，需要继续坚持</li>
</ul>
{% endblock %}

{% block footer_extend %}
{% endblock %}
