{% extends "../_layout.html" %}

{% block head_extend %}
<style media="screen">
  pre{
    margin: 0;
    padding: 0;
  }
  pre code{
    margin-bottom: 0;
  }
  .time{
    color: #ddd;
  }
</style>
{% endblock %}

{% block content %}
    <pre>
      <code>
  最近，大家普遍来的晚，回得又比较早，
  当然，晚一些，早一些，这不是我要讲的重点，
  我要讲的是状态，

  人生的压力，我觉得就像正态分布的曲线，
  先从小到大，然后慢慢的变老了，不得不放下了，又从大变小了，
  而就我们现在这个年龄来说，肯定是处于压力上升期，

  所以可以放松一下，但是不要放纵自己，
  时间在流失，生活的压力在加大，
  而你自身，是否也在跟着前进，超前了，落后了，还是迷失了，
  你的状态，是否和自己的期许匹配，

  日复一日，
  今年的你，是重复去年，还是突破自己，

  对我们来说，职业素养、技术水平和业务能力的提升，是我们最重要的前进途径之一，
  无论忙，还是闲，
  都希望大家在这几个方面有所进步，
  趁自己还年轻，

  但愿迷茫的尽快找到方向，找到方向的，奋力前行，
  高效工作，愉快生活！</code>
    </pre>
    <p class='time'>2018-3-15</p>
{% endblock %}

{% block footer_extend %}
{% endblock %}
