<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../css/common/font_92a0e396.css" type="text/css">
    <link rel="stylesheet" href="../../../css/common/style_1f6aed7d.css" media="screen" type="text/css">
    <link rel="stylesheet" href="../../../css/common/print_9fc78c3d.css" media="print" type="text/css">
    
<style media="screen">
  a{
    color:#e65858;
  }
</style>

    <title>ShellHong's Blog</title>
    <style media="screen">
      div{
        line-height: 1.6;
        padding-bottom: 6px;
      }
      blockquote{
        margin-left: 0;
        padding-left: 10px;
      }
    </style>
  </head>
  <body>
    <header>
      <div class="inner">
        <a href="https://blog.shellhong.com">
          <h1>ShellHong Blog</h1>
        </a>
        <a href="mailto:shellhong6@gmail.com" class="button">Send email to me</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">

        <section id="main-content"><!--内容主体-->
          
<h1>2018杂记</h1>


<h2>技术氛围提升</h2>
<ul>
<li>常规小组和部门分享</li>
<li>经费侧推动书籍、课程、培训</li>
<li>推动轻量级博客分享</li>
<li>推动公司举行的技术类型活动参与（公众号投稿、优秀项目投稿等）</li>
</ul>

        </section>

        <!-- <aside id="sidebar">
          <p><a href="http://blog.shellhong.com/export/views/work_nav.html">工作</a></p>
          <p><a href="http://blog.shellhong.com/export/views/life_nav.html">生活</a></p>
        </aside> -->

      </div>
    </div>
    

  </body>
</html>
